/* -----Universal & Simple Selectors----- */
*
{
    background-color: #F5F5F5; 
    font-family: "Raleway", sans-serif;
    color: #212121;
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
}
a
{
    text-decoration: none;
    cursor: pointer;
}
a:hover
{
    color: #616161;
}
header {
    padding: 35px 0px;
    margin: 10px 100px;
    border-bottom: solid 1px #B6B6B6;
}
nav ul 
{
    float: right;
    list-style-type: none;
}
h5 {
    font-size: 1em;
    display: inline-block;
    padding: 10px 20px;
    border: solid 1px #B6B6B6;
    border-radius: 5px;
}
nav ul li
{
    padding: 10px 17px;
    font-size: 1em;
    display: inline-block;
}
.content 
{
    margin: 0px 100px;
    overflow: auto;
}
.lg-card {
    margin: 40px 5% 0px 0px;
    float: left;
    width: 45%;
    line-height: 2em;
    font-size: 0.85em;
}
p {
    margin-top: 15px;
}
.divider-line {
    margin: 30px 0px;
    width: 10%;
    border-bottom: solid 1px #448AFF;
}
.sm-card {
    margin: 40px 5% 0px 0px;
    float:left;
    width: 20%;
}
.lg-card h3, .sm-card h3 {
    font-size: 18px;
}
.center-content {
    text-align: center;
    margin-left: 35%;
}
.center-content .divider-line {
    margin: 30px auto 30px auto;
}
.center-content p {
    text-align: left;
}
.center-content img {
    width: 18%;
    margin: 40px 8px 0px 8px;
}
.recent-subject {
    padding: 0px 0px 35px 0px;
}
.recent-subject a
{
    font-weight: 400;
    font-size: 1em;
}
.recent-subject p {
    font-size: 0.85em;
    font-weight: 200;
    margin-top: 5px;
}
.list-header {
    display: block;
    margin-top: 40px;
    text-align: center;
    font-size: 1.5em;
}
.list-header .divider-line {
    margin: 30px auto 0px auto;
}
.list-items {
    margin-top: 40px;
}
.list-item {
    margin-top: 30px;
    text-align: center;
}
.list-item a {
    font-size: 1.25em;
    font-weight: 500;
    margin-bottom: 7px;
}
.list-item p {
    margin: 0;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -70px;
}
.push, footer {
    height: 70px;
}
footer {
    text-align: center; 
    width: 100%;
}
footer p {
    margin-left: 5px;
    display: inline-block;
    font-size: 0.85em;
    position: relative;
    bottom: 5px;
}
footer object {
    width: 25px;
}
.no-top-margin {
    margin-top: 0px;
}
