.post-content blockquote {
    margin-right: 0px;
    margin-left: 10px;
}
.sm-card {
    display: none;
}
.lg-card {
    float: none;
    width: 75%;
    margin: 40px auto 20px auto;
    font-size: 0.9em;
}
.lg-card h3 {
    font-size: 2.5em;
    text-align: center;
}
.lg-card .divider-line {
    margin-right: auto;
    margin-left: auto;
}
nav ul {
    float: none;
}
nav ul li {
    padding: 5px 10px;
    font-size: 1.1em;
}
header {
    text-align: center;
    padding: 30px 0px;
}
h5 {
    margin-bottom: 5%;
}
.contact {
    width: 60%;
}
.contact img {
    width: 21%;
    margin: 15px 0px;
    padding: 10px;
}
.about-pic {
    display: block;
    width: 90%;
    margin: auto;
    border-radius: 3px;
    margin-bottom: 25px;
}
@media (max-width: 480px) {
    nav ul li {
        display: block;
        margin-top: 10px;
    }
    .lg-card {
        width: 100%;
    }
    header {
        margin: 10px 60px;    
    }
    .content {
        margin: 0px 60px;    
    }
    .contact {
        width: 100%;
    }
    .project {
        margin: 0px 0px 60px 0px;
    }
    .post-content {
        margin: 40px 0px 0px 0px;
    }
    .contact img {
        width: 20%;
        padding-bottom: 0px;
    }
}
