/* -----Universal & Simple Selectors----- */
*
{
    background-color: #F5F5F5; 
    font-family: "Raleway", sans-serif;
    color: #212121;
    margin: 0;
    padding: 0;
}
a
{
    text-decoration: none;
    cursor: pointer;
}
a:hover
{
    color: grey;
}
header {
    padding: 25px 0px;
    margin: 10px 100px;
    border-bottom: solid 1px #B6B6B6;
}
nav
{
}
nav ul 
{
    float: right;
    list-style-type: none;
}
h5 {
    font-size: 1em;
    display: inline-block;
    padding: 10px 20px;
    border: solid 1px;
    border-radius: 5px;
}
nav ul li
{
    padding: 10px 15px;
    font-size: 1em;
    display: inline-block;
}
footer 
{
    position: absolute;
    display: block;
    width: 100%;
    text-align: center;
    bottom: 15px;
}
footer p 
{
    display: inline-block;
    font-size: 0.85em;
    margin-left: 5px;
    position: relative;
    bottom: 6px;
}
footer object 
{
    width: 25px;
}
