---
layout: default
---

<section class="post-header">
    <h2>{{ page.title }}</h2>
    <p >{{ page.date | date: "%b %-d, %Y" }}</p>
    <div class="divider-line"></div>
</section>
<section class="post-content">

    {{ content }}
    
    <div class="divider-line center"></div>
    <div class="post-links">
        <p>Interested in reading more? Check out some other blog posts!</p>
        <ul>
            {% for post in site.posts limit:3 %}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
            {% endfor %}
        </ul>
    </div>

    <div id="disqus_thread"></div>
    <script>
        var disqus_config = function () {
            this.page.url = '{{ page.url | prepend: site.url }}';
            this.page.identifier = '{{ page.url }}';
        };
        (function() {
            var d = document, s = d.createElement('script');
            s.src = '//https-brandon-powers-github-io.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
    <div class="add-bottom-margin"></div>

</section>
